.music-page {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.carousel {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: scroll; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Snap scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  top: 5%;
}

.track-list {
  display: flex;
  gap: 20px; /* Space between items */
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
  overflow-x: auto; /* Enable horizontal scrolling */
  width: max-content; /* Allow the track-list to expand to fit all items */
}



.track-item {
  margin: 0 10px; /* Spacing between items */
  border-radius: 10px;
  background-color: black;
  flex: 0 0 auto; /* Ensure it doesn’t stretch wider than its content */
  text-align: center;
  opacity: 0.7;
  transition: opacity 0.8s;
  scroll-snap-align: center;
  padding: 10px;
}

.track-tile-play-button {
 background-color: rgb(255, 70, 70);
}
.track-links {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align each link within the tile */
  text-align: center; /* Center text within each link */
}

.track-links a {
  display: block;
  margin: 5px 0; /* Space between links */
  text-decoration: none;
  color: #333;
}

.track-links a:hover {
  text-decoration: underline;
}
.track-item.active {
  opacity: 1;
}

.track-item.active .track-links a {
  color: white;
}

.track-item.active .track-links a:hover {
  color: lightgray; /* Optional: slightly change color on hover for better UX */
}


.cover-art {
  z-index: 10;
  width: 90%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
