.sound-pad {
    position: fixed; /* Keeps the header fixed during scrolling */
    top: 20%;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust button size */
    gap: 10px;
    padding: 2vw; /* Percentage-based padding */
    z-index: 9999;
}

.sound-pad button {
    color: transparent;
    padding: 4vw; /* Percentage-based padding */
    font-size: 2vw; /* Percentage-based font size */
    cursor: pointer;
    background: transparent;
    border: 1px solid;
    border-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.sound-pad button:hover {
    background-color: #ffffff50;
}
